@import '../../dojo/resources/dojo.css';
@import '../../dijit/themes/claro/claro.css';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow:hidden;
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#storage_picker_dialog {
	width: 600px;
	height: 400px;
}

#storage_picker_dialog  .dijitDialogCloseIcon { display: none }

#borderContainer2 {
    width: 100%;
    height: 355px;	
}

#borderContainer {
    width: 100%;
    height: 100%;
}

pre {
    border: 0px;
    background: white;
    padding: 0px;
    margin-bottom: 5px;
}

#inp {
    width: 100%;
    border: 0px;
}
#inp:focus {
    outline: none;
}


#topsearch { margin-bottom: 0px;}
#topsearch > input { margin-top: 4px;}

body {
    background-color: #1CABb8;
}

#sidebar
{
    background-color: #74c4cd;
    margin-top: -17px;
    padding: 5px;
    height: 100px;
    height: 1000px;
}

#main
{
    background-color: #74c4cd;
    margin-top: -17px;
    margin-left: 0px;
    padding: 5px;
    height: 1000px;
}

.nav > li {
    margin-top: 4px;
}

.brand { margin-left: 5px; }